.class-property-view_none-view {
    flex-direction: row;
}

.class-property-view_none-view-label {
    flex-grow: 1;
    -unity-text-align: middle-left;
}

.list-property-view {
    flex-direction: row;
}

.list-property-view_field-view {
    flex-grow: 1;
}

.list-property-view_none-view {
    flex-direction: row;
}

.list-property-view_none-view_none-label {
    flex-grow: 1;
    -unity-text-align: middle-left;
}